<!-- 搜索 -->
<div class="searchbar">
  <div class="input">搜索</div>
</div>

<!-- 列表项 -->
<div class="row">
  <div class="avatar"><img src="assets/CodeBuddyAssets/2207_345531/48.svg" alt=""><div class="badge">6</div></div>
  <div class="meta">
    <div class="top">
      <span class="name error">liqiang</span>
      <span class="vip">VIP3</span>
      <span class="time">21:11</span>
    </div>
    <div class="desc">最近的文档要去哪里下载，你能不能发一份给我</div>
  </div>
</div>

<div class="row">
  <div class="avatar"><img src="assets/CodeBuddyAssets/2207_345531/4.svg" alt=""><div class="badge">23</div></div>
  <div class="meta">
    <div class="top">
      <span class="name">奇迹草草</span>
      <span class="time">20:35</span>
    </div>
    <div class="desc">科科g: 有没有人一起开黑啊</div>
  </div>
</div>

<div class="row">
  <div class="avatar"><img src="assets/CodeBuddyAssets/2207_345531/49.svg" alt=""><div class="badge">99+</div></div>
  <div class="meta">
    <div class="top">
      <span class="name">消息列表降噪讨论</span>
      <span class="time">19:55</span>
    </div>
    <div class="desc">liqiang: 我觉得这里还可以再看看。</div>
  </div>
</div>

<div class="row">
  <div class="avatar"><img src="assets/CodeBuddyAssets/2207_345531/6.svg" alt=""><div class="badge dot"></div></div>
  <div class="meta">
    <div class="top">
      <span class="name">无限暖暖</span>
      <span class="time">19:48</span>
    </div>
    <div class="desc"><span class="tag-error">[新置顶] </span>liqiang: 我觉得这里还可以再看看。</div>
  </div>
</div>

<div class="row">
  <div class="avatar"><img src="assets/CodeBuddyAssets/2207_345531/9.svg" alt=""></div>
  <div class="meta">
    <div class="top">
      <span class="name">元梦之星</span>
      <span class="time">19:48</span>
    </div>
    <div class="desc">liqiang: 有没有人一起开黑啊</div>
  </div>
</div>

<div class="row">
  <div class="avatar"><img src="assets/CodeBuddyAssets/2207_345531/11.svg" alt=""><div class="badge weak">5</div></div>
  <div class="meta">
    <div class="top">
      <span class="name">王者开黑群</span>
      <span class="time">17:53</span>
    </div>
    <div class="desc">SS77: 有没有人一起开黑啊</div>
  </div>
</div>

<div class="row">
  <div class="avatar"><img src="assets/CodeBuddyAssets/2207_345531/14.svg" alt=""><div class="badge weak">79</div></div>
  <div class="meta">
    <div class="top">
      <span class="name">像六兆年一样TRASH</span>
      <span class="time">17:53</span>
    </div>
    <div class="desc">SS77: 有没有人一起开黑啊</div>
  </div>
</div>

<div class="row">
  <div class="avatar square"><img src="assets/CodeBuddyAssets/2207_345531/17.svg" alt=""><div class="badge weak">99+</div></div>
  <div class="meta">
    <div class="top">
      <span class="name">杰德陈、liqiang、weiwei、Shasha</span>
      <span class="time">18:55</span>
    </div>
    <div class="desc"><span class="tag-error">[有人@我] </span>liqiang: 我觉得这里还可以再看看。</div>
  </div>
</div>

<div class="row">
  <div class="avatar"><img src="assets/CodeBuddyAssets/2207_345531/19.svg" alt=""><div class="badge dot"></div></div>
  <div class="meta">
    <div class="top">
      <span class="name">黑神话悟空-QQ游戏</span>
      <span class="time">17:53</span>
    </div>
    <div class="desc"><span class="tag-error">[新置顶] </span>qiang: 我觉得这里还可以。</div>
  </div>
</div>

<div class="row">
  <div class="avatar"><img src="assets/CodeBuddyAssets/2207_345531/23.svg" alt=""></div>
  <div class="meta">
    <div class="top">
      <span class="name">提莫队长</span>
      <span class="time">17:53</span>
    </div>
    <div class="desc">啊啊啊啊啊啊。你有那么多皮肤</div>
  </div>
</div>

<div class="row">
  <div class="avatar square"><img src="assets/CodeBuddyAssets/2207_345531/24.svg" alt=""></div>
  <div class="meta">
    <div class="top">
      <span class="name">吃谷CP</span>
      <span class="time">14:30</span>
    </div>
    <div class="desc">瞌睡虫: 举手，等我一起啊！！！</div>
  </div>
</div>

<div class="row">
  <div class="avatar"><img src="assets/CodeBuddyAssets/2207_345531/38.png" alt=""></div>
  <div class="meta">
    <div class="top">
      <span class="name">南瓜侦探之魔法少女</span>
      <span class="time">14:30</span>
    </div>
    <div class="desc">提莫: 有没有人一起开黑啊</div>
  </div>
</div>
